body {
  background-image: url("./Pictures/background.jpg");
}

.poetry {
  background-color: rgb(44,40,42);
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 20px;
  border-style: solid;
  border-width: 6px;
  border-color: rgb(24,20,22);
  text-align: center;
  min-width: 560px;
}

.poetry-2 {
  background-color: rgb(44,40,42);
  width: 48%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 140px;
  border-radius: 20px;
  border-style: solid;
  border-width: 6px;
  border-color: rgb(108,104,106);
  text-align: center;
  min-width: 600px;
}

.poetry-3 {
  background-color: rgb(44,40,42);
  width: 48%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 140px;
  border-radius: 20px;
  border-style: solid;
  border-width: 6px;
  border-color: rgb(68,64,66);
  text-align: center;
  min-width: 600px;
}

header {
  color: white;
  font-size: 40px;
}

h1 {
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
}

header, main {
  font-family: "Brush Script MT";
}

main {
  font-size: 40px;
}

.even {
  width: 90%;
  margin: auto;
  border-radius: 10px;
  color: white;
  background-color: rgb(30,27,28);
  margin-bottom: 10px;
}

span.even {
  width: 90%;
  margin: auto;
  border-radius: 10px;
  color: white;
  background-color: rgb(30,27,28);
  margin-bottom: 10px;
  font-size: 30px;
}

.even-1 {
  width: 90%;
  margin: auto;
  border-radius: 10px;
  color: white;
  background-color: rgb(30,27,28);
  margin-bottom: 10px;
  font-size: 30px;
  display: inline;
}

.odd {
  width: 90%;
  margin: auto;
  border-radius: 10px;
  background-color: rgb(88,84,86);
  margin-bottom: 10px;
}

span.odd {
  width: 90%;
  margin: auto;
  border-radius: 10px;
  background-color: rgb(88,84,86);
  margin-bottom: 10px;
  font-size: 40px;
}

.odd-1 {
  width: 90%;
  margin: auto;
  border-radius: 10px;
  background-color: rgb(88,84,86);
  margin-bottom: 10px;
  font-size: 40px;
  display: inline;
}

.space {
  margin-top: 50px;
}

.space-1 {
  display: inline;
}

footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  font-style: italic;
}

.pages {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: black;
  background-color: rgb(88,84,86);
  padding: 5px;
  border-radius: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
}

a:hover {
  background-color: rgb(108,104,106);
}