body {
  background-color: black;
}

#sun-moon {
  height: 200px;
  width: 200px;
  margin: -100px auto;
  border-radius: 50%;
  background-color: rgb(170, 170, 110);
  box-shadow: rgb(150, 150, 90) 0 0 100px;
  opacity: 80%;
}

.sky {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
}

.star {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  visibility: visible;
}

.yellow {
  background-color: yellow;
  box-shadow: yellow 0 0 10px;
}

.blue {
  background-color: blue;
  box-shadow: blue 0 0 10px;
}

.red {
  background-color: red;
  box-shadow: red 0 0 10px;
}

.orange {
  background-color: orange;
  box-shadow: orange 0 0 10px;
}

.white {
  background-color: white;
  box-shadow: white 0 0 10px;
}

.green {
  background-color: green;
  box-shadow: green 0 0 10px;
}